<!DOCTYPE html>
<html>
  <head>
    <title>Adding Notes</title>
  </head>
  <body ng-app="noteApp">
  	<div ng-controller="ItemsController as items">
  		<form ng-submit="items.addItem(todoInput, privacy)">
  			<input type="text" ng-model="todoInput">
        <input type="checkbox" ng-init="privacy=false" ng-model="privacy" /> private
  			<button type="submit">Add</button>
  		</form>
        <div ng-repeat="i in items.items" >
        <!--<div class="checkbox checkbox-primary">-->
           
          <label> <input type="checkbox" ng-model="i.done"> {{ i.todoText }} --> {{ i.done }}, by {{ i.currentNote }} --> private: {{ i.private }}</label>
          
          <button ng-click="items.remove($index)">x</button> <br>
        </div>
        <button ng-click="items.save()">Save</button>
        <label class="btn btn-info">
            <input class="glyphicon glyphicon-ok" type="checkbox" autocomplete="off">
            
        </label>

  	</div>


  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="note.js"></script>
  <script src="node_modules/ui-bootstrap-tpls-2.1.2.min.js"></script>
  <link href="node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/note.css" rel="stylesheet">
  </body>
</html>